{% extends 'base_generic.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'sms/css/login.css' %}">
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<form class="" action="" method="post">
  {% csrf_token %}
  <section class="body">
    <div class="cotainer">
      <div class="login">
        <div class="box-login">
          <h2 class="title">ورود</h2>
          {{ form|crispy }}
          <button type="submit" class="danger-btn"> ورود </button>
        </div>
      </div>
    </div>
  </section>
</form>
{% endblock %}
