{% extends 'base_generic.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'agencies/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'agencies/vendors/linericon/style.css' %}">
<link rel="stylesheet" href="{% static 'agencies/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'agencies/vendors/owl-carousel/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'agencies/vendors/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'agencies/vendors/owl-carousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'agencies/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'agencies/vendors/nice-select/css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'agencies/css/style.css' %}">
<link rel="stylesheet" href="{% static 'agencies/css/home.css' %}">
<link rel="stylesheet" href="{% static 'agencies/css/main.css' %}">
<link rel="stylesheet" href="{% static 'agencies/css/header.css' %}">
{% endblock %}

{% block content %}
<!--================Start Portfolio Details Area =================-->
<section class="portfolio_details_area section-margin" style="margin-top:0; padding-top:0;">
	<div class="container">
		<div class="row">
			<div class="offset-xl-1 col-xl-10">
				<div class="portfolio_details_inner">
					<div class="row">
						<div class="col-12">
							<div class="left_img">
								<img class="img-fluid" src="{{ MEDIA_URL }}{{ object.image }}" alt="">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-7 mb-4 mb-lg-0">
							<p>
							{{ object.long_description }}
							</p>
						</div>
						<div class="col-lg-5">
							<div class="portfolio_right_text mt-30" dir="rtl">
								<h4 class="text-uppercase">
									{{ object.user.first_name }} {{ object.user.last_name }}
								</h4>
								<p>
									{{ object.about_me }}
								</p>
								<ul class="list" dir="rtl">
									<li><span> ایمیل </span> {{ object.user.email }}</li>
									<li><span> نام کاربری</span> {{ object.user.username }}</li>
									<li><span> تخصص </span> {{ object.skill }}</li>
									<li><span>امتیاز</span>
										{% for i in range %}
											<i class="fa fa-star"></i>
										{% endfor %}
									</li>
									<!-- <li><span>Client</span>: colorlib</li> -->
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block bottom %}
<script src="{% static 'agencies/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'agencies/js/popper.js' %}"></script>
<script src="{% static 'agencies/js/bootstrap.min.js' %}"></script>
<script src="{% static 'agencies/js/stellar.js' %}"></script>
<script src="{% static 'agencies/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'agencies/vendors/isotope/isotope-min.js' %}"></script>
<script src="{% static 'agencies/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'agencies/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'agencies/js/mail-script.js' %}"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="{% static 'agencies/js/gmaps.min.js' %}"></script>
<script src="{% static 'agencies/js/theme.js' %}"></script>
{% endblock %}
