/* .text-menu {
  position: relative;
  padding: 0 15px;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  margin: 0 20px;
}

.text-menu::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background: #f36938;
  transition: width .3s;
}

.text-menu:hover,
:active,
:focus {
  color: #f36938;
  text-decoration: none;
} */

.btn-price {
  border-top: 1px solid #8d8c8c;
  color: #000;
}

.text-menu:hover::after {
  width: 100%;
}

.text-menu:active::after {
  width: 100%;
}


/* default section */
.section {
  min-height: 100vh;
  color: #000;
  padding: 130px 60px 60px;
  background-color: #EAF0F3;
}

@media (max-width: 1024px) {
  .section {
    padding: 112px 20px 20px;
  }
}


section:after {
  content: "";
  display: table;
  clear: both;
}

.dropdown-item {
  font-size: 12px;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  opacity: .6;
}

.dropdown-scroll {
  height: 750px;
  overflow: auto;
}


/* content */
.card-slide {
  border: 0;
}

.card-header-slide {
  background-color: transparent;
  padding: 0;
  border: 0;
}

.card-header-slide .btn-link {
  color: #000;
  font-size: 14px;
}

.card-body-slide {
  padding: 0 20px;
}

.title-category {
  background-color: #968d8d;
  padding: 10px 20px;
  margin: 8px 2px;
}

.category-box {
  border: 1px solid #c1c1c1;
  position: fixed;
  width: 15%;
  overflow: auto;
  height: auto;
  top: 110px;
  right: 20px;
  bottom: 30px;
  padding: 5px;
  /* overflow: auto; */
}

.category-list {
  list-style-type: none;
  padding: 0 5px;
}

.category-text {
  border-bottom: 1px solid #f0f0f0;
  padding: 7px 0px;
    font-size: 14px;
}

.menu-title {
  background-color: #f36938;
  margin: 0;
  padding: 2px;
}

.category-text-menu {
  padding: 0 2px;
}

.category-text:hover {
  /* background-color: #f36938; */
  width: 100%;
  text-align: right;
}

.category-text a {
  color: #8d8c8c;
  text-decoration: none;
}

.filter-box {
  background-color: #f0f0f0;
  padding: 12px 20px 0;
  margin: 12px;
  position: fixed;
  left: 20px;
  top: 75px;
  width: 78.5%;
  z-index: 7;

}

.card-box {
  /* width: 23.2%; */
  display: flex;
  flex-direction: column;
  border: 1px solid #c1c1c1;
  margin: 10px;
}

.city-select {
  margin-bottom: 5px;
}

.sidebar-btn {
  width: 100%;
  text-align: right;
}

.sidebar-btn:hover {
  text-decoration: none;
  background-color: #f36938;
  width: 100%;
  text-align: right;
}

.sidebar-btn:focus {
  text-decoration: none;
  background-color: #f36938;
  width: 100%;
  text-align: right;
}

.flex-card {
  height: 160px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c1c1c1;

}

.content-box {
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;

}

.card-img {
  width: 45%;
  /* object-fit: cover; */
  object-fit: scale-down;

}

.card-body-image {
  padding: 9px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.card-text-image {
  text-align: right;
  margin: 0;
  font-size: 14px;
}

.btn-box {
  text-align: right;
  border-radius: 0;
  padding: 4px 10px 0;
}

.search-box {
  position: relative;
  padding-right: 35px;
  font-size: 12px;
}

.search-icon {
  position: absolute;
  top: 9px;
  right: 15px;
  color: #c1c1c1;
  z-index: 5;
}

.sidebar-btn {
  width: 100%;
  text-align: right;
}

.category-list {
  list-style-type: none;
  padding: 0 5px;
}

.category-text {
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 2px;
}

.select-btn {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .content-box {
    padding-top: 95px;
  }

  .category-box {
    top: 280px;
  }
}

@media (max-width: 765px) {


  .content-box {
    justify-content: center;
    padding-top: 200px;
  }
}

@media (max-width: 900px) {
  .card-box {
    /* width: 100%; */
  }
  .hidden-sm {
    display: none;
  }

  .filter-box {
    padding: 13px;
    left: 0;
    width: 100%;
    top: 90px;
    margin: 0;
  }

  .category-box {
    height: 215px;
    top: 200px;
  }

  .margin-left {
    margin: 10px;
  }

  .card-body-image {
    font-size: 12px;
  }
}
