
<!doctype html>





<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/fonts/fonts.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../assets/css/password.css">
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="stylesheet" href="../assets/css/header.css">
  <title>Home</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light header">
      <a href="#default" class="logo"><img src="../assets/images/logo.png" alt="profile" class="logo"></a>


      <button class="navbar-toggler open-btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        onclick="openNav()">☰</button>
      <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="./home.html">صفحه من <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">سرمایه گذار</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">مشاورین املاک</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">اخبار</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">آموزش</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">قوانین سایت</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">تماس با ما</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./map.html" tabindex="-1" aria-disabled="true">نقشه</a>
          </li>
          <li>
            <div class="margin-left">
              <button type="button" class="btn login-btn">ثبت آگهی رایگان</button>
            </div>
          </li>
          <li>
            <div class="margin-left">
              <a href="./login.html" class="btn login-btn">ورود</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="./home.html">صفحه من <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">سرمایه گذار</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">مشاورین املاک</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-2" aria-disabled="true">اخبار</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-3" aria-disabled="true">آموزش</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-4" aria-disabled="true">قوانین سایت</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-5" aria-disabled="true">تماس با ما</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./map.html" tabindex="-1" aria-disabled="true">نقشه</a>
          </li>
          <li>
            <div class="margin-left">
              <button type="button" class="btn login-btn">ثبت آگهی رایگان</button>
            </div>
          </li>
          <li>
            <div class="margin-left">
              <a href="./login.html" class="btn login-btn">ورود</a>
            </div>
          </li>
        </ul>

      </div>
    </nav>
  </header>
  <div class="jumbotron" style="background-color:white;">
    <p class="lead">
      دیوار از سال ۱۳۹۲ با هدف خرید و فروش بدون واسطه‌ی آنلاین آغاز به کار کرد. امتیاز برند دیوار توسط شرکت «آگه پردازان هوشمند» (سهامی خاص) در  تمامی مراجع قانونی ثبت شده است.

    </p>
    <h1 class="display-7">نیازمندی‌های ریز و درشت شما روی دیوار </h1>
    <p class="lead">
      دیوار از سال ۱۳۹۲ با هدف خرید و فروش بدون واسطه‌ی آنلاین آغاز به کار کرد. امتیاز برند دیوار توسط شرکت «آگه پردازان هوشمند» (سهامی خاص) در  تمامی مراجع قانونی ثبت شده است.

    </p>
    <h1 class="display-5">برای قرار دادن آگهی های خود در دیوار </h1>

    <p class="lead">
      شهرتان را مشخص نمایید، علامت «+ ارسال آگهی رایگان» را انتخاب کنید و آنگاه آگهی‌تان را بفرستید.

      فراموش نکنید پیش از هر چیز یک آدرس ایمیل و یک شماره تلفن برای ارسال آگهی ضروری است. شما می‌توانید برای کالا یا خدمات‌تان عکسی نیز انتخاب کنید.

      به این ترتیب میلیون‌ها کاربران دیوار به آسانی آگهی‌ شما را خواهند دید و بر اساس محل آگهی شما را راحت‌تر خواهند یافت.ت.

    </p>

    <h1 class="display-5"> خرید و فروش بی‌واسطه</h1>
    <p class="lead">


      در دیوار کاربران مستقیماً با هم تماس می‌گیرند و هیچ واسطه‌ای در این میان وجود ندارد، پس دقت فرمایید که در خرید و فروشِ شما دیوار هیچ دخالتی ندارد و کاربران باید خودشان جنبه‌های مختلف امنیتی را در نظر بگیرند
    </p>

    <hr class="my-4" >
    <p style="text-align: center;">ما را در شبکه های اجتماعی دنبال کنید</p>
    <p class="lead" style="text-align: center;">
      <a class="btn btn-primary btn-lg" href="#" role="button" >اطلاعات بیشتر</a>
    </p>
  </div>



</div>



  <footer class="footer-box">
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="../assets/js/bootstrap.min.js"
   >
  </script>
  <script src="../assets/js/script.js"></script>

</body>
</html>
