{% extends 'base_generic.html' %}

{% block content %}

<div class="jumbotron" style="background-color:white;">
  <p class="lead">
    دیوار از سال ۱۳۹۲ با هدف خرید و فروش بدون واسطه‌ی آنلاین آغاز به کار کرد. امتیاز برند دیوار توسط شرکت «آگه پردازان هوشمند» (سهامی خاص) در تمامی مراجع قانونی ثبت شده است.

  </p>
  <h1 class="display-7">نیازمندی‌های ریز و درشت شما روی دیوار </h1>
  <p class="lead">
    دیوار از سال ۱۳۹۲ با هدف خرید و فروش بدون واسطه‌ی آنلاین آغاز به کار کرد. امتیاز برند دیوار توسط شرکت «آگه پردازان هوشمند» (سهامی خاص) در تمامی مراجع قانونی ثبت شده است.

  </p>
  <h1 class="display-5">برای قرار دادن آگهی های خود در دیوار </h1>

  <p class="lead">
    شهرتان را مشخص نمایید، علامت «+ ارسال آگهی رایگان» را انتخاب کنید و آنگاه آگهی‌تان را بفرستید.

    فراموش نکنید پیش از هر چیز یک آدرس ایمیل و یک شماره تلفن برای ارسال آگهی ضروری است. شما می‌توانید برای کالا یا خدمات‌تان عکسی نیز انتخاب کنید.

    به این ترتیب میلیون‌ها کاربران دیوار به آسانی آگهی‌ شما را خواهند دید و بر اساس محل آگهی شما را راحت‌تر خواهند یافت.ت.

  </p>

  <h1 class="display-5"> خرید و فروش بی‌واسطه</h1>
  <p class="lead">


    در دیوار کاربران مستقیماً با هم تماس می‌گیرند و هیچ واسطه‌ای در این میان وجود ندارد، پس دقت فرمایید که در خرید و فروشِ شما دیوار هیچ دخالتی ندارد و کاربران باید خودشان جنبه‌های مختلف امنیتی را در نظر بگیرند
  </p>

  <hr class="my-4">
  <p style="text-align: center;">ما را در شبکه های اجتماعی دنبال کنید</p>
  <p class="lead" style="text-align: center;">
    <a class="btn btn-primary btn-lg" href="#" role="button">اطلاعات بیشتر</a>
  </p>
</div>
{% endblock %}
