{% extends 'base_and_search.html' %}


{% block head %}
{% load static %}
{% load extra_tags %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'advertisement/css/map.css' %}">
<link rel="stylesheet" href="{% static 'advertisement/css/cedarmaps.css' %}">
{% endblock %}

{% block class_page %}
  <div class="col-lg-2 col-md-2 col-sm-12 hidden-sm">
{% endblock %}

{% block map_custom_menu %}
<div class="col-md-8 col-lg-8 col-sm-12 map-top  fixed-box">
  <div class="filter-box">
    <div class="form-row">
      <div class="col-md-4 col-sm-12">
        <i class="fas fa-search search-icon"></i>
        <input type="search" class="form-control search-box" id="validationTooltip01"
          placeholder="جستجو در همه آگهی‌ها">
      </div>
      <div class="col-md-3 col-sm-12">
        <div id="dl-menu" class="dl-menuwrapper">
          <button class="dl-trigger">همه آگهی‌ها</button>
          <ul class="dl-menu">
{% endblock %}

{% block bottom %}
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function() {
      $('.loading').show();
    },
    onAfterPageLoad: function($items) {
      $('.loading').hide();
    }
  });
</script>
{% endblock %}

{% block map %}
<div id="map_f0zsce"></div>
{% endblock %}

{% block advertisement_map %}
<div class="col-lg-2 col-md-4 col-sm-12 space-top">
  <div class="result-box  infinite-container">
    {% for item in object_list %}
    <div class="card-box infinite-item">
      <div class="flex-card">
        <div class="card-body-image">
          <h5 class="card-title-image">{{ item.title }}</h5>
          <p class="card-text-image">۱۰۰ متر نوساز با دو پارکینگ معاوضه</p>
        </div>
        <img src="{{ MEDIA_URL }}{{ ad.image1 }}"  class="card-img" alt="...">
      </div>
      <a href="#" class="btn full-width btn-price btn-box">
        {% if ad.price %}
        {{ ad.price|intcomma|persianize_digits  }}
        {% elif ad.rent %}
        اجاره:{{ ad.rent|intcomma|persianize_digits  }}
        رهن:{{ ad.deposit|intcomma|persianize_digits }}
        {% else %}
        توافقی
        {% endif %}
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="loading" style="display: none;">
    بارگزاری
  </div>

  {% if page_obj.has_next %}
  <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">بارگزاری</a>
  {% endif %}
</div>
{% endblock %}
