{% extends 'base_and_search.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'advertisement/css/map.css' %}">
<link href='https://api.cedarmaps.com/cedarmaps.js/v1.8.0/cedarmaps.css' rel='stylesheet' />
{% endblock %}

{% block class_page %}
  <div class="col-lg-2 col-md-2 col-sm-12 hidden-sm">
{% endblock %}

{% block map_custom_menu %}
<div class="col-md-8 col-lg-8 col-sm-12 map-top  fixed-box">
  <div class="filter-box">
    <div class="form-row">
      <div class="col-md-4 col-sm-12">
        <i class="fas fa-search search-icon"></i>
        <input type="search" class="form-control search-box" id="validationTooltip01"
          placeholder="جستجو در همه آگهی‌ها">
      </div>
      <div class="col-md-3 col-sm-12">
        <div id="dl-menu" class="dl-menuwrapper">
          <button class="dl-trigger">همه آگهی‌ها</button>
          <ul class="dl-menu">
{% endblock %}

{% block map %}
<div id="map_f0zsce"></div>
{% endblock %}

{% block advertisement_map %}
<div class="col-lg-2 col-md-4 col-sm-12 space-top">
  <div class="result-box">
    {% for item in object_list %}
    <div class="card-box">
      <div class="flex-card">
        <div class="card-body-image">
          <h5 class="card-title-image">{{ item.title }}</h5>
          <p class="card-text-image">۱۰۰ متر نوساز با دو پارکینگ معاوضه</p>
        </div>
        <img src="{{ MEDIA_URL }}{{ ad.image1 }}"  class="card-img" alt="...">
      </div>
      <a href="#" class="btn full-width btn-price btn-box">
        {% if add.price %}
        {{ ad.price }}
        {% elif ad.rent %}
        {{ ad.rent }}, {{ ad.deposit }}
        {% else %}
        توافقی
        {% endif %}
      </a>
    </div>
    {% endfor %}
    {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li>
        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
      </li>
      {% endif %}
      <li class="">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
      </li>
      {% if page_obj.has_next %}
      <li>
        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
