{% extends 'base_generic.html' %}
{% block content %}
{% load static %}
{% load extra_tags %}
{% load humanize %}
<div class="card-group">
  <div class="card bg">
    <div class="card-body text-center">
      <div class="container">
        <h1>{{ object.title }}</h1><br>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn orange-btn">دریافت اطلاعات تماس</button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn orange-btn">نشان کردن</button>
          </div>
        </div><br>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4>
              {% if object.price %}
              {{ object.price|intcomma|persianize_digits  }}
              {% elif object.rent %}
              اجاره:{{ object.rent|intcomma|persianize_digits  }}
              رهن:{{ object.deposit|intcomma|persianize_digits }}
              {% else %}
              توافقی
              {% endif %}
            </h4>
          </div>
          <div class="col-md-6">
            <h4>{{ object.get_city_display }}</h4><br>
          </div>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col">
          <p> {{ object.description }} </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg">
    <div class="card-body text-center">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            {% if object.image1 %}
              <img src="{{ MEDIA_URL }}{{ object.image1 }}"  class="d-block w-100" alt="...">
            {% else %}
              <img src="{% static 'advertisement/images/image_default.gif' %}" class="card-img" alt="...">
            {% endif %}
          </div>
          <div class="carousel-item">
            {% if object.image2 %}
              <img src="{{ MEDIA_URL }}{{ object.image2 }}" class="d-block w-100" alt="...">
            {% else %}
              <img src="{% static 'advertisement/images/image_default.gif' %}" class="card-img" alt="...">
            {% endif %}
          </div>
          <div class="carousel-item">
            {% if object.image3 %}
              <img src="{{ MEDIA_URL }}{{ object.image3 }}" class="d-block w-100" alt="...">
            {% else %}
              <img src="{% static 'advertisement/images/image_default.gif' %}" class="card-img" alt="...">
            {% endif %}
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- <div class="contaienr map-top">
      <div id="map_f0zsce"></div>
    </div> -->
  </div>
</div>
{% endblock %}
