{% extends 'base_generic.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'advertisement/css/modal.css' %}">
{% endblock %}
{% block content_modal %}
{% load extra_tags %}
{% load humanize %}
<div class="container well">
  <!-- first row  -->
  <div class="row">
    <!-- right col -->
    <div class="col-md-6" dir="rtl">
      <!-- title ad -->
      <div class="row">
        <div class="col-md-4">
          <h3>
            {{ object.title }}
          </h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
      <hr>

      <!-- Att 1 -->

      <div class="row">
        <div class="col-md-4">
          <h4>
            صاحب خانه
          </h4>
        </div>
        <div class="col-md-4">
          <h4>
            {{ object.landlord_name }}
          </h4>
        </div>
        <div class="col-md-4"></div>
      </div>

      <!-- space between infor -->
      <div class="row">
        <div class="col-md-4">
          <h3>

          </h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>

      <!-- ATT 2 -->

      <div class="row">
        <div class="col-md-4">
          <h4>
            شهر
          </h4>
        </div>
        <div class="col-md-4">
          <h4>
            {{ object.get_city_display }}
          </h4>
        </div>
        <div class="col-md-4"></div>
      </div>
      <!-- space between infor -->

      <div class="row">
        <div class="col-md-4">
          <h3>
            توضیحات
          </h3>
        </div>
        <div class="col-md-4">
          {{ object.description }}
        </div>
        <div class="col-md-4"></div>
      </div>
      <!-- att  3-->
      <div class="row">
        <div class="col-md-4">
          <h4>
            قیمت
          </h4>
        </div>
        <div class="col-md-4">
          <h4>
            {% if object.price %}
            {{ object.price|intcomma|persianize_digits  }}
            {% elif object.rent %}
            اجاره:{{ object.rent|intcomma|persianize_digits  }}
            رهن:{{ object.deposit|intcomma|persianize_digits }}
            {% else %}
            توافقی
            {% endif %}
          </h4>
        </div>
        <div class="col-md-4"></div>
      </div>
      <!-- space between infor -->

      <div class="row">
        <div class="col-md-4">
          <h3>

          </h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
      <!-- Att 4 -->

      <div class="row">
        <div class="col-md-4">
          <h4>
            تلفن
          </h4>
        </div>
        <div class="col-md-4">
          <h4>
            {{ object.phone_number|persianize_phone }}
          </h4>
        </div>
        <div class="col-md-4"></div>
      </div>
      <!-- space between infor -->

      <div class="row">
        <div class="col-md-4">
          <h3>

          </h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>

    <!-- left col -->
    <div class="col-md-6" style="margin-bottom: 50px;">
      <!-- <img src="./world.jpg" alt="img"> -->
      <div class="container" style=" height: 500px; width: 600px;">

        <img src="{{ MEDIA_URL }}{{ object.image1 }}" class="d-block w-100" alt="...">
        <button type="button" class="btn orange-btn" data-toggle="modal" data-target="#myModal">بیشتر</button>
      </div>
    </div>

  </div>
  <!-- right bottom section -->
  <div class="row">
    <!-- right col -->
    <div class="col-md-6" dir="rtl">
      <!-- title ad -->
      <div class="row">
        <div class="col-md-4">
          <h3>
            توضیحات </h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
      <hr>

      <!-- Att 1 -->

      <div class="row">
        <div class="col-md-4">
          <h4>
            متراژ
          </h4>
        </div>
        <div class="col-md-4">
          <h4>
            دویست هزار متر
          </h4>
        </div>
        <div class="col-md-4"></div>
      </div>

      <!-- space between infor -->
      <div class="row">
        <div class="col-md-4">
          <h3>

          </h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>

      <!-- ATT 2 -->

      <div class="row">
        <div class="col-md-4">
          <h4>
            طبقه
          </h4>
        </div>
        <div class="col-md-4">
          <h4>
            سی ام
          </h4>
        </div>
        <div class="col-md-4"></div>
      </div>
      <!-- space between infor -->

      <div class="row">
        <div class="col-md-4">
          <h3>

          </h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
      <!-- att  3-->
      <div class="row">
        <div class="col-md-4">
          <h4>
            رهن
          </h4>
        </div>
        <div class="col-md-4">
          <h4>
            دویست میلیون تومان
          </h4>
        </div>
        <div class="col-md-4"></div>
      </div>
      <!-- space between infor -->

      <div class="row">
        <div class="col-md-4">
          <h3>

          </h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
      <!-- Att 4 -->

      <div class="row">
        <div class="col-md-4">
          <h4>
            طبقه
          </h4>
        </div>
        <div class="col-md-4">
          <h4>
            سی ام
          </h4>
        </div>
        <div class="col-md-4"></div>
      </div>
      <!-- space between infor -->

      <div class="row">
        <div class="col-md-4">
          <h3>

          </h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <div class="col-md-6" style="margin:auto;" dir="rtl">
      <div id="map-canvas" style=" margin:auto; height: 350px; width: 350px; border: 3px solid black;"></div>
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>
      <script type="text/javascript">
        if (document.getElementById('map-canvas')) {

          // Coordinates to center the map
          var myLatlng = new google.maps.LatLng(52.525595, 13.393085);

          // Other options for the map, pretty much selfexplanatory
          var mapOptions = {
            zoom: 14,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          // Attach a map to the DOM Element, with the defined settings
          var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        }
      </script>
    </div>
    <!-- Modal -->
    <div class="container">

      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="card text-center">
              <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                  <li class="nav-item">
                    <a class="nav-link selected " href="#">عکس ها</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">نقشه</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">تور مجازی</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">جزییات ملک</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">فروشگاه ها</a>
                  </li>
                </ul>
              </div>
              <div class="card-body" style="width:100%; height:100%;">
                <div class="container" style="width:900px;">
                  <div class="row">
                    <div class="col-md-6">
                      <div id="warp" style="width:400px;">
                        <ul id="gallery-container">
                          <li class="gallery-item">

                            <input checked="checked" type="radio" name="gallery-list" class="gallery-selector" value="1.jpg" id="gallery-item1" />
                            <img src="http://lorempixel.com/400/200/sports" class="gallery-fullsize" alt="location bateau 135ch" />
                            <label for="gallery-item1" class="gallery-label">
                              <img src="http://lorempixel.com/76/50/sports" class="gallery-preview" alt="location bateau 135ch" />
                            </label>
                          </li>
                          <li class="gallery-item">

                            <input type="radio" name="gallery-list" class="gallery-selector" value="2.jpg" id="gallery-item2" />
                            <img src="http://lorempixel.com/400/200/sports/1" class="gallery-fullsize" alt="location bateau 135ch" />
                            <label for="gallery-item2" class="gallery-label">
                              <img src="http://lorempixel.com/76/50/sports/1" class="gallery-preview" alt="location bateau 135ch" />
                            </label>
                          </li>
                          <li class="gallery-item">

                            <input type="radio" name="gallery-list" class="gallery-selector" value="3.jpg" id="gallery-item3" />
                            <img src="http://lorempixel.com/400/200/sports/2" class="gallery-fullsize" alt="location bateau 135ch" />
                            <label for="gallery-item3" class="gallery-label">
                              <img src="http://lorempixel.com/76/50/sports/2" class="gallery-preview" alt="location bateau 135ch" />
                            </label>
                          </li>
                          <li class="gallery-item">

                            <input type="radio" name="gallery-list" class="gallery-selector" value="4.jpg" id="gallery-item4" />
                            <img src="http://lorempixel.com/400/200/sports/3" class="gallery-fullsize" alt="location bateau 135ch" />
                            <label for="gallery-item4" class="gallery-label">
                              <img src="http://lorempixel.com/76/50/sports/3" class="gallery-preview" alt="location bateau 135ch" />
                            </label>
                          </li>
                          <li class="gallery-item">

                            <input type="radio" name="gallery-list" class="gallery-selector" value="5.jpg" id="gallery-item5" />
                            <img src="http://lorempixel.com/400/200/sports/4" class="gallery-fullsize" alt="location bateau 135ch" />
                            <label for="gallery-item5" class="gallery-label">
                              <img src="http://lorempixel.com/76/50/sports/4" class="gallery-preview" alt="location bateau 135ch" />
                            </label>
                          </li>
                          <li class="gallery-item">

                            <input type="radio" name="gallery-list" class="gallery-selector" value="6.jpg" id="gallery-item6" />
                            <img src="http://lorempixel.com/400/200/sports/5" class="gallery-fullsize" alt="location bateau 135ch" />
                            <label for="gallery-item6" class="gallery-label">
                              <img src="http://lorempixel.com/76/50/sports/5" class="gallery-preview" alt="location bateau 135ch" />
                            </label>
                          </li>
                        </ul>
                      </div>
                      <i class="fas fa-star" value=""></i>
                      <button onclick="myFunction()">کپی کردن لینک </button>
                      <input type="text" value="#" id="myInput">
                      <script>
                        function myFunction() {
                          var copyText = document.getElementById("myInput");
                          copyText.select();
                          copyText.setSelectionRange(0, 99999)
                          document.execCommand("copy");
                          alert("Copied the text: " + copyText.value);
                        }
                      </script>
                    </div>
                  </div>
                  <div class="col-md-6">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
