{% extends 'base_and_search.html' %}

{% block bottom %}
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function() {
      $('.loading').show();
    },
    onAfterPageLoad: function($items) {
      $('.loading').hide();
    }
  });
</script>
{% endblock %}

{% block advertisement %}
{% load static %}
{% load extra_tags %}
{% load humanize %}
<div class="content-box infinite-container">
  {% for ad in object_list %}
  <div class="col-lg-4 col-md-6 col-sm-12 infinite-item">
    <div class="card-box">
      <div class="flex-card">
        <div class="card-body-image">
          {% if request.session.phone %}
          {% if ad in customer.favorites.all %}
          <i class="fas fa-star" value="{{ ad.id }}"></i>
          {% else %}
          <i class="far fa-star" id="star" value="{{ ad.id }}"></i>
          {% endif %}
          {% endif %}
          <h5 class="card-title-image">
            <a href="{{ ad.get_absolute_url }}">
              {{ ad.get_category_display }}
            </a>
          </h5>
          <p class="card-text-image">{{ ad.title }}</p>
        </div>
        {% if ad.image1 %}
        <img src="{{ MEDIA_URL }}{{ ad.image1 }}" class="card-img" alt="...">
        {% else %}
        <img src="{% static 'advertisement/images/image_default.gif' %}" class="card-img" alt="...">
        {% endif %}
      </div>
      <a href="#" class="full-width btn-price btn-box">
        {% if ad.price %}
        {{ ad.price|intcomma|persianize_digits  }}
        {% elif ad.rent %}
        اجاره:{{ ad.rent|intcomma|persianize_digits  }}
        رهن:{{ ad.deposit|intcomma|persianize_digits }}
        {% else %}
        توافقی
        {% endif %}
      </a>
    </div>
  </div>
{% endfor %}
</div>
</div>
<div class="loading" style="display: none;">
  ...
</div>

{% if page_obj.has_next %}
<a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">...</a>
{% endif %}

{% endblock%}
