


<!doctype html>





<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/fonts/fonts.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../assets/css/password.css">
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="stylesheet" href="../assets/css/header.css">
  <link rel="stylesheet" href="../assets/css/Blog.css">
  <title>Home</title>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light header">
      <h2> بلاگ ماملک</h2>
      <a href="#default" class="logo"><img src="../assets/images/logo.png" alt="profile" class="logo"></a>


    </nav>
  </header>
  <div class="container" style="width:100%;">

    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          <h2>گران ترین خانه های تهران</h2>
          <h5>1398 مرداد 7</h5>
          <div class="fakeimg" style="height:200px;">Image</div>
          <p>ادامه متن</p>
        </div>
        <div class="card">
          <h2>به روز ترین تجهیزات خانه ها</h2>
          <h5>نوشته شده در تاریخ 5 مرداد 1398</h5>
          <div class="fakeimg" style="height:200px;">Image</div>
          <p>در ادامه متتن بخوانید</p>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          <h2>گران ترین خانه های تهران</h2>
          <h5>1398 مرداد 7</h5>
          <div class="fakeimg" style="height:200px;">Image</div>
          <p>ادامه متن</p>
        </div>
        <div class="card">
          <h2>به روز ترین تجهیزات خانه ها</h2>
          <h5>نوشته شده در تاریخ 5 مرداد 1398</h5>
          <div class="fakeimg" style="height:200px;">Image</div>
          <p>در ادامه متتن بخوانید</p>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          <h2>گران ترین خانه های تهران</h2>
          <h5>1398 مرداد 7</h5>
          <div class="fakeimg" style="height:200px;">Image</div>
          <p>ادامه متن</p>
        </div>
        <div class="card">
          <h2>به روز ترین تجهیزات خانه ها</h2>
          <h5>نوشته شده در تاریخ 5 مرداد 1398</h5>
          <div class="fakeimg" style="height:200px;">Image</div>
          <p>در ادامه متتن بخوانید</p>
        </div>
      </div>

    </div>


  </div>
  <footer class="footer-box">
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="../assets/js/bootstrap.min.js"
   >
  </script>
  <script src="../assets/js/script.js"></script>

</body>
</html>
