{% extends 'base_generic.html' %}

{% block content %}
<div class="jumbotron" style="background-color:white;">
  <h3 >تماس با ما </h3>
  <p >اگر پیشنهاد یا انتقادی دارید یا می‌خواهید ما را از وجود مشکلی در سیستم آگاه کنید، با دیوار صحبت کنید. برای اینکار می‌توانید از صفحه‌ی پشتیبانی و قوانین دیوار استفاده کنید.

    برای حذف آگهی‌هایی که با شماره‌ی موبایل یا ایمیل شما ثبت شده است، به صفحه‌ی مدیریت آگهی مراجعه کنید. همچنین در صورت ایجاد مزاحمت برای شما، می‌توانید با مراجعه به سایت پلیس فتا به آدرس http://www.cyberpolice.ir از اطلاعات تماس پلیس فتای محل
    سکونت خود آگاه شوید و موضوع را از آن طریق پیگیری کنید.

    .تیم‌های فنی ما در آدرس زیر اقامت دارند، ولی متأسفانه توان میزبانی مراجعان حضوری را نداریم.

    آدرس پستی: تهران، سعادت‌آباد، خیابان فرهنگ، کوچه پیوند ۲، پلاک ۸.، طبقه سوم

    صندوق پستی: ۴۸۳۱۱-۱۹۹۷۷

    شماره تماس پشتیبانی: ۸۴۲۱۱۵۱۱-۰۲۱

    شماره تماس واحد اداری: ۸۸۶۵۲۱۳۷-۰۲۱



    فرصت‌های شغلی

    امتحان کنید، یاد بگیرید و بهتر شوید. به ما بپیوندید.</p>
  <hr class="my-4">
  <p style="text-align: center;">ما را در شبکه های اجتماعی دنبال کنید</p>
  <p class="lead" style="text-align: center;">
    <a class="btn login-btn" href="#" role="button">اطلاعات بیشتر</a>
  </p>
</div>
{% endblock %}
