{% extends 'base_generic.html' %}
{% block content %}
<div class="jumbotron" style="background-color:white;">
  <!-- <p class="lead">اگر پیشنهاد یا انتقادی دارید یا می‌خواهید ما را از وجود مشکلی در سیستم آگاه کنید، با دیوار صحبت کنید. برای اینکار می‌توانید از صفحه‌ی پشتیبانی و قوانین دیوار استفاده کنید.
    امتحان کنید، یاد بگیرید و بهتر شوید. به ما بپیوندید.</p> -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header" style="margin:auto; color:black;">
        <a class="navbar-brand" style="color:black;" href="#">آگهی های من </a>
        <a class="navbar-brand" style=" color:black;" href="#">آگهی های نشان شده </a>
        <a class="navbar-brand"  style="color:black;" href="#">بازدیدهای اخیر</a>
      </div>
    </div>
  </nav>

  <hr class="my-4">
  <p style="text-align: center;">برای مشاهده و مدیریت آگهی‌ها وارد حساب کاربری خود شوید</p>
  <p class="lead" style="text-align: center;">
    <a class="btn login-btn " href="#" role="button">ورود و ثبت نام</a>
  </p>
</div>
{% endblock%}
