<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <!-- Add additional CSS in static file -->
  {% load static %}
  {% load crispy_forms_tags %}
  <link rel="stylesheet" href="{% static 'advertisement/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'advertisement/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'advertisement/css/home.css' %}">
  <link rel="stylesheet" href="{% static 'advertisement/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'advertisement/css/header.css' %}">
  <link rel="stylesheet" href="{% static 'advertisement/fonts/fonts.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light header">
      <a href="{% url 'advertisement:advertisement_list' %}" class="logo"><img src="{% static 'advertisement/images/logo.png' %}" alt="profile" class="logo"></a>
      <button class="navbar-toggler open-btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="openNav()">☰</button>
      <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="./home.html">صفحه من <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">سرمایه گذار</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">مشاورین املاک</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">اخبار</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">آموزش</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">قوانین سایت</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">تماس با ما</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./map.html" tabindex="-1" aria-disabled="true">نقشه</a>
          </li>
          <li>
            <div class="margin-left">
            </div>
          </li>
          <li>
            <div class="margin-left">
            </div>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="./home.html">صفحه من <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">سرمایه گذار</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">مشاورین املاک</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-2" aria-disabled="true">اخبار</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-3" aria-disabled="true">آموزش</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-4" aria-disabled="true">قوانین سایت</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-5" aria-disabled="true">تماس با ما</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./map.html" tabindex="-1" aria-disabled="true">نقشه</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="col-md-4 col-md-offset-4 centered">
      <h1>ثبت آگهی رایگان</h1><br>
      <div class="form-group">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success btn-block">ثبت اگهی</button>
        </form>
      </div>
    </div>
  </div>

</body>
<footer class="footer-box">
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="{% static 'advertisement/js/bootstrap.min.js' %}">
</script>
<script src="{% static 'advertisement/js/script.js' %}"></script>
</body>

</html>
