{% extends 'base_generic.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'advertisement/css/map.css' %}">
<link rel="stylesheet" href="{% static 'advertisement/css/cedarmaps.css' %}">
{% endblock %}
{% load extra_tags %}
{% load humanize %}
{% block content %}
  <h1>فرم ثبت اگهی</h1>
  <hr>
  <div class="row">
    <div class="col-md-2 col-md-offset-4 centered">
      {% load crispy_forms_tags %}
      {% crispy form %}

    </div>
    <div class="col">

      <div id="map_8gjm24" style=" margin:auto; height: 350px; width: 350px; border: 3px solid black;"></div>
    </div>
  </div>
{% endblock %}

{% block bottom %}
<script type="text/javascript">

    $(document).ready(function() {
    });
  function nearby() {
    // Initialized CedarMap
    L.cedarmaps.accessToken = "ae7d1b021ae8f6785260040172ce86005372ed2d";
    // Nearby options
    var nb = window.L.cedarmaps.nearby('map_8gjm24', [$('#1000').attr('lat'), $('#1000').attr('long')], {
      centerMarkerIcon: window.L.icon({"slug":"@default","iconUrl":"https://api.cedarmaps.com/v1/markers/marker-default.png","iconRetinaUrl":"https://api.cedarmaps.com/v1/markers/marker-default@2x.png","iconSize":[82,98]}),
      categories: ["bus","park","shopping","hospital","school"],
      searchDistance: 5,
      defaultZoom: 15
    });
  };

  (function(c,e,d,a){
    var p = c.createElement(e);
    p.async = 1; p.src = d;
    p.onload = a;
    c.body.appendChild(p);
  })(document, 'script', 'https://api.cedarmaps.com/cedarmaps.js/v1.8.0/cedarmaps.js', nearby);
</script>
{% endblock %}
