{% extends 'base_generic.html' %}
{% block content %}
<div class="jumbotron" style="background-color:white;">
  <h3>  قوانین درج آگهی در «ماملک»</h3>
  <p class="lead"></p>
  <hr class="my-4">
  <p style="text-align: justify;">
    تمامی حقوق مالکیت فکری و حقوق مادی و معنوی که بر انتشار، اختراع، جمع‌آوری اطلاعات، برنامه‌ نویسی نرم‌ افزاری و هر آنچه که به این مجموعه مربوط می شود محفوظ و هر گونه استفاده غیرقانونی یا غیرشرعی از خدمات و اطلاعات این مجموعه پیگرد قانونی دارد و مسئولیت‌ های مدنی و کیفری ناشی از ورود زیانهای مستقیم و غیرمستقیم به عهده شخص خاطی خواهد بود.
    منظور از وب سایت در اینجا همان سایت ماملک با آدرس <a href="https://www.mamelk.ir/">www.mamelk.ir</a>  و <a href="https://www.mamelk.com">www.mamelk.com</a>  می باشد.
    همچنین ما  در خصوص درستی اطلاعات نشان داده شده و موجود در وب‌ سایت هیچگونه مسئولیتی نداریم  و در صورتی که کاربران براساس اطلاعات دریافتی از ماملک  اقدام به داد و ستد نمایند، می بایست معاملات خود را بر اساس قوانین رایج در کشور، و آگاهی از ساز و کار آن تجارت، و در صورت لزوم از افراد حرفه ای برای به انجام رساندن آن امر استفاده نمایند. پس، ما (ماملک و گروه پشتیبانی این سایت) در قبال هر گونه زیان وارده، هیچ‌گونه مسئولیتی را نمی پذیریم.
    چنانچه  به هر جهت از ناحیه مراجع قانونی دستور حذف آگهی شما صادر شود، ماملک به موجب موازین قانونی بلافاصله  اقدام به حذف آن آگهی می‌نماید و  هیچ ‌گونه مسئولیتی در قبال  آگهی حذف شده به کاربر ندارد.
    آگهی گذار می پذیرد که:
  </p>
<ul style="list-style-type:none; text-align: justify;">
<li>
۱-   آگهی و متونش با قوانین جمهوری اسلامی ایران و آداب و سنن مردم جامعه مغایرت نداشته و هیچگونه آسیبی متوجه افراد جامعه و پیرامون آن نباشد و از هرگونه خوار شمردن ادیان، آداب، رسوم، قومیت‌ها، سنن،  گویش ها  و افراد جامعه بپرهیزد.

</li>
<li>
۲- آگهی و متون آن باید در راستای پاسبانی از مصادیق محتوای مجرمانه در کشور باشد.

</li>
<li>
۳- در دیباچه یا عنوان آگهی از درج قیمت و کلمات وسوسه انگیز خودداری شود.

</li>
<li>
۴-  از گذاردن عکس صورت اشخاص یا کودکان برای بهره های تبلیغاتی در آگهی خودداری کند.

</li>
<li>
۵- از هرگونه دروغ یا خبرپراکنی سیاسی، اجتماعی یا مذهبی که واژگون اسباب و موازین و خیر کشور باشد خودداری نماید.

</li>
<li>
۶- از گذاردن آگهی های نامربوط و نا همسو با زمینه های کاری سایت ماملک و آگهی هایی که مشکوک به کلاهبرداری و نیرنگ می باشد، بپرهیزد.

</li>
<li>
۷-  آگهی و متونش با تلاشهای غیرقانونی و غیرمجاز اقتصادی وابسته نبوده و نباشد و از فروش فاکتور و پیش فاکتور برای اخذ وام، حذف سهم بیمه کارفرما و مشابه آن خودداری گردد.

</li>
<li>
۸- از پرداخت یا دریافت پیش ‌پرداخت در راستای داد و ستد های از راه دور براستی خودداری نماید.

</li>
<li>
۹- با توجه به شرایط تعیین شده درکشور از هرگونه اشاره به شبکه‌های اجتماعی مانند تلگرام و یا اینستاگرام در بخش توضیحات به جز در دسته‌بندی خدمات خودداری گردد.

</li>
<li>
۱۰- از درج شماره حساب و سامانه پیامکی و معرفی سایت‌ های بیگانه یا ناهم سو با آگهی خود و قوانین کشور و مخالف شئونات اسلامی و همینطور با سایت ماملک در متن آگهی خودداری نماید.

</li>
<li>
۱۱- از درج دوباره آگهی‌‌های همگون ولو با عنوانی متفاوت در همان روز خودداری نماید.

</li>
<li>
۱۲-  هرگونه استفاده ناشایست از شماره تلفن همراه یا نشانی پست الکترونیکی افراد پیگرد قانونی دارد و فرد خاطی پاسخگوی آن تلقی شده و ماملک در این مورد هیچ گونه وظیفه و مسئولیتی را در برابر مراجع قانونی و افرد به عهده  ندارد.
</li>

</ul>
<p style="text-align: justify; color:red;">
  بدیهی است آگهی‌ گذار (کاربر) با ثبت آگهی خود در سایت ماملک تأیید می‌کند که دارای سن بالای ۱۸ سال می باشد و موارد قانونی ذکر شده را مطالعه کرده و بند های بیان شده را قبول کرده و رعایت می کند. و در صورت بروز هرگونه پیامد  احتمالی تمامی مسئولیت آنرا عهده دار خواهد بود.
</p>

  <!-- <h3>قوانین سایت</h3>
  <p class="lead"></p>
  <hr class="my-4">
  <ul style="list-style-type:none;">
    <li>
      <a href="#">قوانین ثبت آگهی</a>
    </li>
    <li>
      <a href="#"> شرایط ثبت آگهی</a>
    </li>
    <li>
      <a href="#">عکس باید چه ویژگی هایی داشته باشد؟</a>
    </li>
    <li>
      <a href="#">راهنمای خرید امن</a>
    </li>
  </ul>
  <p class="lead">
  </p>
  <div class="container" style="text-align:center; padding-top:0;">

    <a class="btn orange-btn" href="#" role="button" style="text-align:center;">بیشتر</a>
  </div> -->
</div>

{% endblock %}
