{% extends 'base_generic.html' %}
{% block content %}
<div class="jumbotron" style="background-color:white;">
  <h3>قوانین سایت</h3>
  <p class="lead"></p>
  <hr class="my-4">
  <ul style="list-style-type:none;">
    <li>
      <a href="#">قوانین ثبت آگهی</a>
    </li>
    <li>
      <a href="#"> شرایط ثبت آگهی</a>
    </li>
    <li>
      <a href="#">عکس باید چه ویژگی هایی داشته باشد؟</a>
    </li>
    <li>
      <a href="#">راهنمای خرید امن</a>
    </li>
  </ul>
  <p class="lead">
  </p>
  <div class="container" style="text-align:center; padding-top:0;">

    <a class="btn orange-btn" href="#" role="button" style="text-align:center;">بیشتر</a>
  </div>
</div>

{% endblock %}
