{% extends 'base_generic.html' %}
{% block content %}
<h1>ثبت آگهی رایگان</h1><br>
<p><a href="{% url 'advertisement:advertisement_list'%}" type="button" class="btn btn-primary" style="float:left;">بازگشت به صفحه اصلی</a></p>
<br>
<div class="btn-group full-width">
  <button class="btn select-btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    شهر‌ها
  </button>
  <span class="sr-only">همه محله ها</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">تهران</a>
  </div>
</div>
<p class="title-category">همه آگهی‌ها</p>
<div class="accordion" id="accordionExample">
  <div class="card card-slide">
    <div class="card-header card-header-slide" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link sidebar-btn collapsed full-width" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          رهن و اجاره
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body card-body-slide">
        <ul class="category-list">
          <li class="category-text"><a href="{% url 'advertisement:new_rent_apartment' %}">آپارتمان</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_rent_edari' %}">اداری</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_rent_colangi' %}">کلنگی</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_rent_suit' %}">سوییت</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_rent_vila' %}">ویلا</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_rent_tejari' %}">تجاری</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_rent_zamin' %}">زمین</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_rent_bagh' %}">باغ</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_rent_anbar' %}">انبار</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_rent_sole' %}">سوله</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card card-slide">
    <div class="card-header card-header-slide" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          فروش </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body card-body-slide">
        <ul class="category-list">
          <li class="category-text"><a href="{% url 'advertisement:new_sell_apartment' %}">آپارتمان</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_sell_edari' %}">اداری</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_sell_colangi' %}">کلنگی</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_sell_suit' %}">سوییت</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_sell_vila' %}">ویلا</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_sell_tejari' %}">تجاری</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_sell_zamin' %}">زمین</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_sell_bagh' %}">باغ</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_sell_anabr' %}">انبار</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_sell_sole' %}">سوله</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card card-slide">
    <div class="card-header card-header-slide" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          خرید </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body card-body-slide">
        <ul class="category-list">
          <li class="category-text"><a href="{% url 'advertisement:new_buy_apartment' %}">آپارتمان</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_buy_edari' %}">اداری</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_buy_colangi' %}">کلنگی</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_buy_suit' %}">سوییت</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_buy_vila' %}">ویلا</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_buy_tejari' %}">تجاری</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_buy_zamin' %}">زمین</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_buy_bagh' %}">باغ</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_buy_anbar' %}">انبار</a></li>
          <li class="category-text"><a href="{% url 'advertisement:new_buy_sole' %}">سوله</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card card-slide">
    <div class="card-header card-header-slide" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          آژانس املاک
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body card-body-slide">
        <ul class="category-list">
          <li class="category-text"><a href="#">۱</a></li>
          <li class="category-text"><a href="#">۲</a></li>
          <li class="category-text"><a href="#">۳</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card card-slide">
    <div class="card-header card-header-slide" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          مشاورین املاک
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body card-body-slide">
        <ul class="category-list">
          <li class="category-text"><a href="#">۱</a></li>
          <li class="category-text"><a href="#">۲</a></li>
          <li class="category-text"><a href="#">۳</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card card-slide">
    <div class="card-header card-header-slide" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          امور حقوقی و ملکی
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body card-body-slide">
        <ul class="category-list">
          <li class="category-text"><a href="#">1</a></li>
          <li class="category-text"><a href="#">2</a></li>
          <li class="category-text"><a href="#">3</a></li>
          <li class="category-text"><a href="#">4</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
