{% extends "base_generic.html" %}

{% block content %}
<div class="container" align="center">
  <div class="top">
    <h3>آموزش</h3>
  </div><br><br>
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
        <div align="center" class="embed-responsive embed-responsive-16by9">
          <video autoplay loop class="embed-responsive-item">
            <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
          </video>
        </div>
        <!-- <a class="card-img-top" href="www" alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">راهنمای استفاده از سایت مشاوران</h5>
          <p class="card-text"> ویدیو راهنمای استفاده مشاورین </p>
          <a href="#" class="btn orange-btn">مشاهده ویدیو</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
        <!-- <a class="card-img-top" src="..." alt="Card image cap"> -->
        <div align="center" class="embed-responsive embed-responsive-16by9">
          <video autoplay loop class="embed-responsive-item">
            <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
          </video>
        </div>
        <div class="card-body">
          <h5 class="card-title">راهنمای استفاده از سایت کاربران</h5>
          <p class="card-text"> ویدیو راهنمای استفاده کاربران </p>
          <a href="#" class="btn orange-btn">مشاهده ویدیو</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
