{% extends 'base_generic.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'consultant/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'consultant/vendors/linericon/style.css' %}">
<link rel="stylesheet" href="{% static 'consultant/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'consultant/vendors/owl-carousel/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'consultant/vendors/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'consultant/vendors/owl-carousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'consultant/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'consultant/vendors/nice-select/css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'consultant/css/style.css' %}">
<link rel="stylesheet" href="{% static 'consultant/css/home.css' %}">
<link rel="stylesheet" href="{% static 'consultant/css/main.css' %}">
<link rel="stylesheet" href="{% static 'consultant/css/header.css' %}">
{% endblock %}

{% block content %}
<!--================Start Portfolio Details Area =================-->
<section class="portfolio_details_area section-margin" style="margin-top:0; padding-top:0;">
	<div class="container">
		<div class="row">
			<div class="offset-xl-1 col-xl-10">
				<div class="portfolio_details_inner">
					<div class="row">
						<div class="col-12">
							<div class="left_img">
								<img class="img-fluid" src="{% static 'consultant/img/portfolio/r.jpg' %}" alt="">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-7 mb-4 mb-lg-0">
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
								کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می
								توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
							</p>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
								کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می
								توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
							</p>
						</div>
						<div class="col-lg-5">
							<div class="portfolio_right_text mt-30" dir="rtl">
								<h4 class="text-uppercase">مشخصات مشاور</h4>
								<p>
									لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
									کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می
									توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
								</p>
								<ul class="list" dir="rtl">
									<li><span>امتیاز</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
									<!-- <li><span>Client</span>: colorlib</li> -->
									<li><span>وب سایت شخصی</span>: colorlib.com</li>
									<li><span>تاریخ عضویت</span>: 17 Aug 2018</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block bottom %}
<script src="{% static 'consultant/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'consultant/js/popper.js' %}"></script>
<script src="{% static 'consultant/js/bootstrap.min.js' %}"></script>
<script src="{% static 'consultant/js/stellar.js' %}"></script>
<script src="{% static 'consultant/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'consultant/vendors/isotope/isotope-min.js' %}"></script>
<script src="{% static 'consultant/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'consultant/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'consultant/js/mail-script.js' %}"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="{% static 'consultant/js/gmaps.min.js' %}"></script>
<script src="{% static 'consultant/js/theme.js' %}"></script>
{% endblock %}
