{% extends 'base_generic.html' %}

{% block head %}
{% load static %}
{% load extra_tags %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'consultant/vendors/linericon/style.css' %}">
<link rel="stylesheet" href="{% static 'consultant/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'consultant/vendors/owl-carousel/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'consultant/vendors/owl-carousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'consultant/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'consultant/vendors/nice-select/css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'consultant/css/style.css' %}">
{% endblock %}

{% block content %}
<!--================Start Portfolio Details Area =================-->
<section class="portfolio_details_area section-margin" style="margin-top:0; padding-top:0;">
	<div class="container">
		<div class="row">
			<div class="offset-xl-1 col-xl-10">
				<div class="portfolio_details_inner">
					<div class="row">
						<div class="col-12">
							<div class="left_img">
								<img class="img-fluid" src="{{ MEDIA_URL }}{{ object.image }}" alt="">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-5">
							<div class="portfolio_right_text mt-30" dir="rtl">
								<h4 class="text-uppercase">
									{{ object.user.first_name }} {{ object.user.last_name }}
								</h4>
								<p>
									{{ object.about_me }}
								</p>
								<ul class="list" dir="rtl">
									<li><span> ایمیل </span> {{ object.user.email }}</li>
									<li><span> نام کاربری</span> {{ object.user.username }}</li>
									<li><span> تخصص </span> {{ object.skill }}</li>
									<li><span>امتیاز</span>
										{% for i in range %}
										<i class="fa fa-star"></i>
										{% endfor %}
									</li>
									<!-- <li><span>Client</span>: colorlib</li> -->
								</ul>
							</div>
						</div>
						<div class="col-lg-7 mb-4 mb-lg-0">
							<p>
								{{ object.long_description }}
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="content-box">
			{% for ad in posts %}
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card-box">
					<div class="flex-card">
						<div class="card-body-image">
							<h5 class="card-title-image">
								<a href="{{ ad.get_absolute_url }}">
									{{ ad.get_category_display }}
								</a>
							</h5>
							<p class="card-text-image">{{ ad.title }}</p>
						</div>
						{% if ad.image1 %}
						<img src="{{ MEDIA_URL }}{{ ad.image1 }}" class="card-img" alt="...">
						{% else %}
						<img src="{% static 'advertisement/images/image_default.gif' %}" class="card-img" alt="...">
						{% endif %}
					</div>
					<a href="#" class="full-width btn-price btn-box">
						{% if ad.price %}
						{{ ad.price|intcomma|persianize_digits  }}
						{% elif ad.rent %}
						اجاره:{{ ad.rent|intcomma|persianize_digits  }}
						رهن:{{ ad.deposit|intcomma|persianize_digits }}
						{% else %}
						توافقی
						{% endif %}
					</a>
				</div>
			</div>
		{% endfor %}
		</div>
</section>
{% endblock %}

{% block bottom %}
<script src="{% static 'consultant/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'consultant/js/popper.js' %}"></script>
<script src="{% static 'consultant/js/bootstrap.min.js' %}"></script>
<script src="{% static 'consultant/js/stellar.js' %}"></script>
<script src="{% static 'consultant/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'consultant/vendors/isotope/isotope-min.js' %}"></script>
<script src="{% static 'consultant/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'consultant/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'consultant/js/mail-script.js' %}"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="{% static 'consultant/js/gmaps.min.js' %}"></script>
<script src="{% static 'consultant/js/theme.js' %}"></script>
{% endblock %}
