<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'advertisement/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'advertisement/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'advertisement/css/home.css' %}">
  <link rel="stylesheet" href="{% static 'advertisement/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'advertisement/css/header.css' %}">
  <link rel="stylesheet" href="{% static 'advertisement/css/component.css' %}">
  <link rel="stylesheet" href="{% static 'advertisement/fonts/fonts.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
  <title>ماملک</title>
  {% block head %}
  {% endblock %}
  <!--BEGIN RAYCHAT CODE-->
  <script type="text/javascript">
    ! function() {
      function t() {
        var t = document.createElement("script");
        t.type = "text/javascript", t.async = !0, localStorage.getItem("rayToken") ? t.src = "https://app.raychat.io/scripts/js/" + o + "?rid=" + localStorage.getItem("rayToken") + "&href=" + window.location.href : t.src =
          "https://app.raychat.io/scripts/js/" + o;
        var e = document.getElementsByTagName("script")[0];
        e.parentNode.insertBefore(t, e)
      }
      var e = document,
        a = window,
        o = "0ab772e9-4a82-4c88-ae89-a1c618aa27c4";
      "complete" == e.readyState ? t() : a.attachEvent ? a.attachEvent("onload", t) : a.addEventListener("load", t, !1)
    }();
  </script>
  <!--END RAYCHAT CODE-->
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light header">
      <a href="{% url 'advertisement:advertisement_list' %}" class="logo-button"><img src="{% static 'advertisement/images/logo.png' %}" alt="profile" class="logo"></a>
      <button class="navbar-toggler open-btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="openNav()">☰</button>
      <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'advertisement:advertisement_list_map' %}" tabindex="-1" aria-disabled="true">صفحه اصلی</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'advertisement:my_page' %}">صفحه من <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'supporter:register_supporter' %}">سرمایه گذاران</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'consultant:consultant_list' %}" tabindex="-1" aria-disabled="true">مشاورین املاک</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'agencies:agencies_list' %}" tabindex="-1" aria-disabled="true">آژانس هاي املاك</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'advertisement:rule_page' %}" tabindex="-1" aria-disabled="true">اخبار و قوانین</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'advertisement:tutorial' %}" tabindex="-1" aria-disabled="true">آموزش</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'advertisement:contact_us'%}" tabindex="-1" aria-disabled="true">تماس با ما</a>
          </li>
          {% block login %}
          <li>
            <div class="margin-left">
              <a href="{% url 'advertisement:select_ad' %}" class="btn orange-btn">ثبت آگهی رایگان</a>
            </div>
          </li>
          {% endblock %}
          <!-- <li>
            <div class="margin-left">
              <a href="./login.html" class="btn login-btn">ورود</a>
            </div>
          </li> -->
        </ul>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'advertisement:advertisement_list' %}" tabindex="-1" aria-disabled="true">صفحه اصلی</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'advertisement:my_page' %}">صفحه من <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'supporter:register_supporter' %}">سرمایه گذاران</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'consultant:consultant_list' %}" tabindex="-1" aria-disabled="true">مشاورین املاک</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'agencies:agencies_list' %}" tabindex="-1" aria-disabled="true">آژانس هاي املاك</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'advertisement:rule_page' %}" tabindex="-1" aria-disabled="true">اخبار و قوانین</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'advertisement:tutorial' %}" tabindex="-1" aria-disabled="true">آموزش</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'advertisement:contact_us'%}" tabindex="-1" aria-disabled="true">تماس با ما</a>
          </li>
          {% block login-sm %}
          <li>
            <div class="margin-left">
              <a href="{% url 'advertisement:select_ad' %}" class="btn orange-btn">ثبت آگهی رایگان</a>
            </div>
          </li>
          {% endblock %}
          <!-- <li>
            <div class="margin-left">
              <a href="./login.html" class="btn login-btn">ورود</a>
            </div>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>


  <section class="body">
    <a id="button"></a>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </section>
  <footer class="footer-box">
  </footer>
  <script src="{% static 'advertisement/js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'advertisement/js/popper.min.js' %}"></script>
  <script src="{% static 'advertisement/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'advertisement/js/script.js' %}"></script>
  <script src="{% static 'advertisement/js/modernizr.custom.js' %}"></script>
  <script src="{% static 'advertisement/js/jquery.dlmenu.js' %}"></script>
  <script src="{% static 'advertisement/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'advertisement/js/infinite.min.js' %}"></script>
  <script>
    $(function() {
      $('#dl-menu').dlmenu();
    });
  </script>
  <script>
    $("#star").click(function() {
      var username = $(this).attr("value")

      if ($(this).hasClass('far fa-star')){
                  $("#star").removeClass('far fa-star').addClass('fas fa-star');
                  // $(this).addClass('fas fa-star').removeClass('far fa-star');
              }

              else if ($(this).hasClass('fas fa-star')){
                  $('#star').removeClass('fas fa-star').addClass('far fa-star');
                  // $(this).addClass('far fa-star').removeClass('fas fa-star');
              }

      $.ajax({
          type: 'GET',
          url: '/customer/fav/',
          data: { "get_param": 'value' },
          success: function (data) {
              alert("done")
          }
      });

    });
  </script>
  {% block bottom %}
  {% endblock %}
</body>

</html>
