{% extends 'base_generic.html'%}

{% block content %}
<div class="row">
  {% block class_page %}
  <div class="col-md-2 col-sm-12 hidden-sm">
    {% endblock %}
    <div class="category-box">
      <div class="btn-group full-width">
        <button class="btn select-btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          شهر‌ها
        </button>
        <span class="sr-only">همه محله ها</span>
        <div class="dropdown-menu">
          <!-- <a class="dropdown-item " href="#">به زودی فعال میشود</a> -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " href="{% url 'advertisement:inbuild' %}">آذربایجان شرقی</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">آذربایجان غربی</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">اردبیل</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">اصفهان</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">البرز</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">ایلام</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">بوشهر</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">تهران</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">چهارمحال و بختیاری</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">خراسان جنوبی</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">خراسان رضوی</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">خراسان شمالی</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">خوزستان</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">زنجان</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">سمنان</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">سیستان و بلوچستان</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">فارس</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">قزوین</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">قم</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">کردستان</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">کرمان</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">کرمانشاه</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">کهگیلویه وبویراحمد</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">گلستان</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">گیلان</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">لرستان</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">مازندران</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">مرکزی</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">هرمزگان</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">همدان</a>
          <a class="dropdown-item" href="{% url 'advertisement:inbuild' %}">یزد</a>
        </div>
      </div>
      <p class="title-category">
        <a href="{% url 'advertisement:advertisement_list' %}" style="color:black;">
          نوع آگهی
         </a>
      </p>
      <div class="accordion" id="accordionExample">
        <div class="card card-slide">
          <div class="card-header card-header-slide" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                رهن و اجاره
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body card-body-slide">
              <ul class="category-list">
                <li class="category-text"><a href="{% url 'advertisement:rent_apartment_list_view' %}">آپارتمان</a></li>
                <li class="category-text"><a href="{% url 'advertisement:rent_homevila_list_view' %}">خانه ویلایی</a></li>
                <li class="category-text"><a href="{% url 'advertisement:rent_edari_list_view' %}">اداری</a></li>
                <li class="category-text"><a href="{% url 'advertisement:rent_tejari_list_view' %}">تجاری</a></li>
                <li class="category-text"><a href="{% url 'advertisement:rent_store_list_view' %}">مغازه</a></li>
                <li class="category-text"><a href="{% url 'advertisement:rent_suit_list_view' %}">سوییت</a></li>
                <li class="category-text"><a href="{% url 'advertisement:rent_penthouse_list_view' %}">پنت هاوس</a></li>
                <li class="category-text"><a href="{% url 'advertisement:rent_vila_list_view' %}">ویلا</a></li>
                <li class="category-text"><a href="{% url 'advertisement:rent_anbar_list_view' %}">انبار</a></li>
                <li class="category-text"><a href="{% url 'advertisement:rent_sole_list_view' %}">سوله</a></li>
                <li class="category-text"><a href="{% url 'advertisement:rent_bagh_list_view' %}">باغ</a></li>
                <li class="category-text"><a href="{% url 'advertisement:rent_tower_list_view' %}">برج</a></li>
                <li class="category-text"><a href="#">مستغلات</a></li>
                <li class="category-text"><a href="{% url 'advertisement:rent_zamin_list_view' %}">زمین</a></li>
                <li class="category-text"><a href="{% url 'advertisement:rent_colangi_list_view' %}">کلنگی</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card card-slide">
          <div class="card-header card-header-slide" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                فروش
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body card-body-slide">
              <ul class="category-list">
                <li class="category-text"><a href="{% url 'advertisement:sell_apartment_list_view' %}">آپارتمان</a></li>
                <li class="category-text"><a href="{% url 'advertisement:sell_homevila_list_view' %}">خانه ویلایی</a></li>
                <li class="category-text"><a href="{% url 'advertisement:sell_edari_list_view' %}">اداری</a></li>
                <li class="category-text"><a href="{% url 'advertisement:sell_tejari_list_view' %}">تجاری</a></li>
                <li class="category-text"><a href="{% url 'advertisement:sell_store_list_view' %}">مغازه</a></li>
                <li class="category-text"><a href="{% url 'advertisement:sell_suit_list_view' %}">سوییت</a></li>
                <li class="category-text"><a href="{% url 'advertisement:sell_penthouse_list_view' %}">پنت هاوس</a></li>
                <li class="category-text"><a href="{% url 'advertisement:sell_vila_list_view' %}">ویلا</a></li>
                <li class="category-text"><a href="{% url 'advertisement:sell_anbar_list_view' %}">انبار</a></li>
                <li class="category-text"><a href="{% url 'advertisement:sell_sole_list_view' %}">سوله</a></li>
                <li class="category-text"><a href="{% url 'advertisement:sell_bagh_list_view' %}">باغ</a></li>
                <li class="category-text"><a href="{% url 'advertisement:sell_tower_list_view' %}">برج</a></li>
                <li class="category-text"><a href="#">مستغلات</a></li>
                <li class="category-text"><a href="{% url 'advertisement:sell_zamin_list_view' %}">زمین</a></li>
                <li class="category-text"><a href="{% url 'advertisement:sell_colangi_list_view' %}">کلنگی</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card card-slide">
          <div class="card-header card-header-slide" id="headingFive">
            <h2 class="mb-0">
              <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                درخواست
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body card-body-slide">
              <ul class="category-list">
                <li class="category-text"><a href="{% url 'advertisement:buy_apartment_list_view' %}">آپارتمان</a></li>
                <li class="category-text"><a href="{% url 'advertisement:buy_homevila_list_view' %}">خانه ویلایی</a></li>
                <li class="category-text"><a href="{% url 'advertisement:buy_edari_list_view' %}">اداری</a></li>
                <li class="category-text"><a href="{% url 'advertisement:buy_tejari_list_view' %}">تجاری</a></li>
                <li class="category-text"><a href="{% url 'advertisement:buy_store_list_view' %}">مغازه</a></li>
                <li class="category-text"><a href="{% url 'advertisement:buy_suit_list_view' %}">سوییت</a></li>
                <li class="category-text"><a href="{% url 'advertisement:buy_penthouse_list_view' %}">پنت هاوس</a></li>
                <li class="category-text"><a href="{% url 'advertisement:buy_vila_list_view' %}">ویلا</a></li>
                <li class="category-text"><a href="{% url 'advertisement:buy_anbar_list_view' %}">انبار</a></li>
                <li class="category-text"><a href="{% url 'advertisement:buy_sole_list_view' %}">سوله</a></li>
                <li class="category-text"><a href="{% url 'advertisement:buy_bagh_list_view' %}">باغ</a></li>
                <li class="category-text"><a href="{% url 'advertisement:buy_tower_list_view' %}">برج</a></li>
                <li class="category-text"><a href="#">مستغلات</a></li>
                <li class="category-text"><a href="{% url 'advertisement:buy_zamin_list_view' %}">زمین</a></li>
                <li class="category-text"><a href="{% url 'advertisement:buy_colangi_list_view' %}">کلنگی</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card card-slide">
          <div class="card-header card-header-slide" id="headingSeven">
            <h2 class="mb-0">
              <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                ارایه خدمات
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
            <div class="card-body card-body-slide">
              <ul class="category-list">
                <li class="category-text"><a href="#">پیمانکاران</a></li>
                <li class="category-text"><a href="#">رایانه و موبایل</a></li>
                <li class="category-text"><a href="#">حمل و نقل و باربری</a></li>
                <li class="category-text"><a href="#">پرستاری ٬ نکهداری و آشپزی</a></li>
                <li class="category-text"><a href="#">ساخت و ساز و مرمت</a></li>
                <li class="category-text"><a href="#">ابزار و مصالح ساختمانی</a></li>
                <li class="category-text"><a href="#">دکوراسیون داخلی و خارجی</a></li>
                <li class="category-text"><a href="#">دوربین / امنیت / بیمه</a></li>
                <li class="category-text"><a href="#">تعمیرات و تاسیسات</a></li>
                <li class="category-text"><a href="#">آرایشگر و زیبایی</a></li>
                <li class="category-text"><a href="#">نظافت / باغبانی / سمپاشی / نگهبانی</a></li>
                <li class="category-text"><a href="#">مواد غذایی / رستوران</a></li>
                <li class="category-text"><a href="#"> آموزشی / ورزشی / سرگرمی</a></li>
                <li class="category-text"><a href="#">مراسم پذیرایی</a>
                <!-- <li class="category-text"><a href="#">زیبایی و اریشی</a> -->
                <!-- <li class="category-text"><a href="#">سرگرمی ورزشی</a> -->
                <!-- <li class="category-text"><a href="#"> سایر</a> -->
                </li>
              </ul>
            </div>
          </div>
          <div class="card-header card-header-slide" id="headingSeven">
            <h2 class="mb-0">
              <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                درخواست خدمات
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
            <div class="card-body card-body-slide">
              <ul class="category-list">
                <li class="category-text"><a href="#">مراسم پذیرایی</a></li>
                <li class="category-text"><a href="#">زیبایی و اریشی</a></li>
                <li class="category-text"><a href="#">سرگرمی ورزشی</a></li>
                <li class="category-text"><a href="#">پیمانکاران</a></li>
                <li class="category-text"><a href="#">رایانه و موبایل</a></li>
                <li class="category-text"><a href="#">حمل و نقل و باربری</a></li>
                <li class="category-text"><a href="#">پرستاری ٬ نکهداری و آشپزی</a></li>
                <li class="category-text"><a href="#">ساخت و ساز و مرمت</a></li>
                <li class="category-text"><a href="#">ابزار و مصالح ساختمانی</a></li>
                <li class="category-text"><a href="#">دکوراسیون داخلی و خارجی</a></li>
                <li class="category-text"><a href="#">دوربین / امنیت / بیمه</a></li>
                <li class="category-text"><a href="#">تعمیرات و تاسیسات</a></li>
                <li class="category-text"><a href="#">آرایشگر و زیبایی</a></li>
                <li class="category-text"><a href="#">نظافت / باغبانی / سمپاشی / نگهبانی</a></li>
                <li class="category-text"><a href="#">مواد غذایی / رستوران</a></li>
                <li class="category-text"><a href="#"> آموزشی / ورزشی / سرگرمی</a></li>
                <li class="category-text"><a href="#">مراسم پذیرایی</a>
                <!-- <li class="category-text"><a href="#">زیبایی و اریشی</a> -->
                <!-- <li class="category-text"><a href="#">سرگرمی ورزشی</a> -->
                <!-- <li class="category-text"><a href="#"> سایر</a> -->
                </li>
              </ul>
            </div>
          </div>
          <div class="card card-slide">
            <div class="card-header card-header-slide" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive" onclick='window.location.href="{% url ' agencies:agencies_list'
                  %}"'>
                  آژانس های املاک
                </button>
              </h2>
            </div>
            <!-- <div id="collapsefive" class="collapse" aria-labelledby="headingThree"
              data-parent="#accordionExample">
              <div class="card-body card-body-slide">
                <ul class="category-list">
                  <li class="category-text"><a href="#">۱</a></li>
                  <li class="category-text"><a href="#">۲</a></li>
                  <li class="category-text"><a href="#">۳</a></li>
                </ul>
              </div>
            </div> -->
          </div>
          <div class="card card-slide">
            <div class="card-header card-header-slide" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" onclick='window.location.href="{% url ' consultant:consultant_list'
                  %}"'>
                  مشاورین املاک
                </button>
              </h2>
            </div>
            <!-- <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body card-body-slide">
                <ul class="category-list">
                  <li class="category-text"><a href="#">۱</a></li>
                  <li class="category-text"><a href="#">۲</a></li>
                  <li class="category-text"><a href="#">۳</a></li>
                </ul>
              </div>
            </div> -->
          </div>
          <div class="card card-slide">
            <div class="card-header card-header-slide" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  خدمات بیمه
                </button>
              </h2>
            </div>
          </div>
          <div class="card card-slide">
            <div class="card-header card-header-slide" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  مشارکت
                </button>
              </h2>
            </div>
          </div>
          <div class="card card-slide">
            <div class="card-header card-header-slide" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  معاوضه
                </button>
              </h2>
            </div>
          </div>
          <div class="card card-slide">
            <div class="card-header card-header-slide" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  پیش فروش
                </button>
              </h2>
            </div>
          </div>
          <div class="card card-slide">
            <div class="card-header card-header-slide" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  اجاره روزانه
                </button>
              </h2>
            </div>
          </div>
          <div class="card card-slide">
            <div class="card-header card-header-slide" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  هم خانه
                </button>
              </h2>
            </div>
          </div>
          <div class="card card-slide">
            <div class="card-header card-header-slide" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link sidebar-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  امور حقوقی و ملکی
                </button>
              </h2>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body card-body-slide">
                <ul class="category-list">
                  <li class="category-text"><a href="#">اداری</a></li>
                  <li class="category-text"><a href="#">وکالت</a></li>
                  <li class="category-text"><a href="#">شهرداری</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block advertisement_map %}
  {% endblock %}
  {% block map_custom_menu %}
  <div class="col-md-10 col-lg-10 col-sm-12">
    <form action="{% url 'advertisement:search_results' %}" method="get">
      <div class="filter-box">
        <div class="form-row">
          <div class="col-md-4 col-sm-12">
            <i class="fas fa-search search-icon"></i>
            <input type="hidden" name="urlhistory" value='{{request.GET.urlencode}}' >
            <input name="q" type="text" type="search" class="form-control search-box" id="validationTooltip01" placeholder="جستجو در همه اگهی ها">
          </div>
          <div class="col-md-3 col-sm-12">
            <div id="dl-menu" class="dl-menuwrapper">
              <button class="dl-trigger">همه آگهی‌ها</button>
              <ul class="dl-menu">
                {% endblock %}
                <li>
                  <a href="#">
                    رهن و اجاره
                  </a>
                  <ul class="dl-submenu">
                    <li><a href="?category=2"> آپارتمان</a></li>
                    <li><a href="?category=32">خانه ویلایی</a></li>
                    <li><a href="?category=5">اداری</a></li>
                    <li><a href="?category=17">تجاری</a></li>
                    <li><a href="?category=38">مغازه</a></li>
                    <li><a href="?category=11">سوییت</a></li>
                    <li><a href="?category=35">پنت هاوس</a></li>
                    <li><a href="?category=14">ویلا</a></li>
                    <li><a href="?category=26">انبار</a></li>
                    <li><a href="?category=29">سوله</a></li>
                    <li><a href="?category=23">باغ</a></li>
                    <li><a href="?category=41">برج</a></li>
                    <li><a href="?category=44">مستغلات</a></li>
                    <li><a href="?category=20">زمین</a></li>
                    <li><a href="?category=8">کلنگی</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">فروش</a>
                  <ul class="dl-submenu">
                    <li><a href="?category=1"> آپارتمان</a></li>
                    <li><a href="?category=31">خانه ویلایی</a></li>
                    <li><a href="?category=4">اداری</a></li>
                    <li><a href="?category=16">تجاری</a></li>
                    <li><a href="?category=37">مغازه</a></li>
                    <li><a href="?category=10">سوییت</a></li>
                    <li><a href="?category=34">پنت هاوس</a></li>
                    <li><a href="?category=13">ویلا</a></li>
                    <li><a href="?category=25">انبار</a></li>
                    <li><a href="?category=28">سوله</a></li>
                    <li><a href="?category=22">باغ</a></li>
                    <li><a href="?category=40">برج</a></li>
                    <li><a href="?category=43">مستغلات</a></li>
                    <li><a href="?category=19">زمین</a></li>
                    <li><a href="?category=7">کلنگی</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">درخواست</a>
                  <ul class="dl-submenu">
                    <li><a href="?category=0"> آپارتمان</a></li>
                    <li><a href="?category=30">خانه ویلایی</a></li>
                    <li><a href="?category=3">اداری</a></li>
                    <li><a href="?category=15}">تجاری</a></li>
                    <li><a href="?category=36">مغازه</a></li>
                    <li><a href="?category=9">سوییت</a></li>
                    <li><a href="?category=33">پنت هاوس</a></li>
                    <li><a href="?category=12">ویلا</a></li>
                    <li><a href="?category=24">انبار</a></li>
                    <li><a href="?category=27">سوله</a></li>
                    <li><a href="?category=21">باغ</a></li>
                    <li><a href="?category=39">برج</a></li>
                    <li><a href="?category=42">مستغلات</a></li>
                    <li><a href="?category=18">زمین</a></li>
                    <li><a href="?category=6">کلنگی</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">ارایه خدمات</a>
                  <ul class="dl-submenu">
                    <li><a href="#">پیمانکاران</a></li>
                    <li><a href="#">رایانه و موبایل</a>
                      <li><a href="#">مراسم پذیرایی</a>
                        <li><a href="#">زیبایی و اریشی</a>
                          <li><a href="#">سرگرمی ورزشی</a>
                          </li>
                          <li><a href="#">حمل و نقل و
                            باربری</a>
                          </li>
                          <li><a href="#">پرستاری ٬ نکهداری و
                            آشپزی</a>
                          </li>
                          <li><a href="#">ساخت و ساز و مرمت</a>
                          </li>
                          <li><a href="#">ابزار و مصالح
                            ساختمانی</a></li>
                            <li><a href="#">دکوراسیون داخلی و
                              خارجی</a>
                            </li>
                            <li><a href="#">دوربین / امنیت /
                              بیمه</a>
                            </li>
                            <li><a href="#">تعمیرات و تاسیسات</a>
                            </li>
                            <li><a href="#">آرایشگر و زیبایی</a>
                            </li>
                            <li><a href="#">نظافت / باغبانی /
                              سمپاشی
                              /
                              نگهبانی</a></li>
                              <li><a href="#">مواد غذایی /
                                رستوران</a>
                              </li>
                              <li><a href="#"> آموزشی / ورزشی /
                                سرگرمی</a>
                                <li><a href="#"> سایر</a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a href="#">درخواست خدمات</a>
                              <ul class="dl-submenu">
                                <li><a href="#">پیمانکاران</a></li>
                                <li><a href="#">رایانه و موبایل</a>
                                  <li><a href="#">حمل و نقل و
                                    باربری</a>
                                  </li>
                                  <li><a href="#">پرستاری ٬ نکهداری و
                                    آشپزی</a>
                                    <li><a href="#">ساخت و ساز و مرمت</a>
                                    </li>
                                    <li><a href="#">ابزار و مصالح
                                      ساختمانی</a></li>
                                      <li><a href="#">دکوراسیون داخلی و
                                        خارجی</a>
                                      </li>
                                  </li>
                                  <li><a href="#">دوربین / امنیت /
                                    بیمه</a>
                                  </li>
                                  <li><a href="#">تعمیرات و تاسیسات</a>
                                  </li>
                                  <li><a href="#">آرایشگر و زیبایی</a>
                                  </li>
                                  <li><a href="#">نظافت / باغبانی /
                                    سمپاشی
                                    /
                                    نگهبانی</a></li>
                                  <li><a href="#">مواد غذایی /
                                    رستوران</a>
                                  </li>
                                  <li><a href="#"> آموزشی / ورزشی /
                                    سرگرمی</a>
                                  </li>
                                  <li><a href="#">مراسم پذیرایی</a>

                                          </ul>
                                        </li>
                <li><a href="#">آژانس هاي املاك</a></li>
                <li><a href="#">مشاورین املاك</a></li>
                <li><a href="#">خدمات بیمه</a></li>
                <li><a href="#">مشارکت</a></li>
                <li><a href="#">معاوضه</a></li>
                <li><a href="#">پیش فروش</a></li>
                <li><a href="#">اجاره روزانه</a></li>
                <li><a href="#">هم خانه</a></li>
                <li><a href="#">امور حقوقی و ملکی</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 col-sm-12">
            <div class="btn-group full-width">
              <button class="btn-menu select-btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                همه محله‌ ها
              </button>
              <span class="sr-only">همه محله ها</span>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="?area=1">1</a>
                <a class="dropdown-item" href="?area=2">2</a>
                <a class="dropdown-item" href="?area=3">3</a>
                <a class="dropdown-item" href="?area=4">4</a>
                <a class="dropdown-item" href="?area=5">5</a>
                <a class="dropdown-item" href="?area=6">6</a>
                <a class="dropdown-item" href="?area=7">7</a>
                <a class="dropdown-item" href="?area=8">8</a>
                <a class="dropdown-item" href="?area=9">9</a>
                <a class="dropdown-item" href="?area=10">10</a>
                <a class="dropdown-item" href="?area=11">11</a>
                <a class="dropdown-item" href="?area=12">12</a>
                <a class="dropdown-item" href="?area=13">13</a>
                <a class="dropdown-item" href="?area=14">14</a>
                <a class="dropdown-item" href="?area=15">15</a>
                <a class="dropdown-item" href="?area=16">16</a>
                <a class="dropdown-item" href="?area=17">17</a>
                <a class="dropdown-item" href="?area=18">18</a>
                <a class="dropdown-item" href="?area=19">19</a>
                <a class="dropdown-item" href="?area=20">20</a>
                <a class="dropdown-item" href="?area=21">21</a>
                <a class="dropdown-item" href="?area=22">22</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="btn-search-box">
              <button type="search" class="btn orange-btn">جستجو</button>
              <a href="{% url 'advertisement:advertisement_list_map' %}" class="btn btn-primary" style="margin-right: 5px">نقشه</a>
            </div>
          </div>
          <div class="input-group-box">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" checked aria-label="checkbox button for following text input">
              </div>
              <p class="no-margin">آگهی هاي مربوط به املاك </p>
            </div>
            <div class="input-group-prepend" style="margin-right: 25px">
              <div class="input-group-text">
                <input type="checkbox" aria-label="checkbox button for following text input">
              </div>
              <p class="no-margin">آگهی هاي مربوط به خدمات ملک</p>
            </div>
          </div>
        </div>
      </div>
      {% block map %}
      {% endblock %}
    </form>
    {% block advertisement %}
    {% endblock %}
  </div>
</div>
{% endblock %}
