.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: linear-gradient(to bottom right, rgba(255, 94, 0, 0.78), rgba(255, 255, 0, 0.67)); */
}

.box-login {
  border: 1px solid #f36938;
  width: 500px;
  padding: 20px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  /* background: #fff; */
}

.title {
  border-bottom: 3px solid #f36938;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #000;
}

.input-group {
  margin: auto;
}

.danger-btn {
  background: #f36938;
  padding: 5px 20px;
  border-radius: 5px;
  color: #fff;
}

.forget-text{
  width: 100%;
  text-align: right;
}
